{% extends "::base.html.twig" %}

{% block title %}AppBundle:Background:getBackgrounds{% endblock %}

{% block body %}
<h1>Welcome to the Background:getBackgrounds page</h1>

{{ form(form) }}
{{ form(form2) }}


<div id="resultat">
    {% if message is defined %}
        
        {{ message }}
        
    {% elseif backgrounds is defined %}
        
        {% for background in backgrounds %}
            {{ background.id }} 
            | {{ background.src }} 
            | {{ background.heureDate|date() }}
            |  <a href="{{ path('get_background',{id:background.id}) }}">voir</a>
           
            <br/>
        {% endfor %}
        
    {% endif %}
</div>
{% endblock %}
