{% extends "::base.html.twig" %}

{% block title %}AppBundle:Background:getBackgrounds{% endblock %}

{% block body %}
<h1>Welcome to the Background:getBackgrounds page</h1>

{{ form(form) }}

<hr/>

<div id="resultat">
    {% if message is defined %}
        
        {{ message }}
        
    {% elseif backgrounds is defined %}
        
        {% for background in backgrounds %}
            
            {% if tabForm is defined %}
                {{ form_start(tabForm[loop.index-1]) }}
                    {{ form_rest(form) }}
                {{ form_end(tabForm[loop.index-1]) }}
            {% endif %}
            {% if tabForm2 is defined %}
                {{ form_start(tabForm2[loop.index-1]) }}
                    {{ form_rest(form) }}
                {{ form_end(tabForm2[loop.index-1]) }}
            {% endif %}
            
            {{ background.id }}
            | {{ background.src }} 
            | {{ background.heureDate|date() }}
            |  <a href="{{ path('get_background',{id:background.id}) }}">voir</a>
            
           
            <br/>
            <hr/>
        {% endfor %}
        
        
    {% endif %}
</div>
{% endblock %}
