<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <a href="{{ path('get_backgrounds') }}">Afficher tous les backgrounds</a>
        <a href="{{ path('post_background') }}">Ajouter un background</a>
        <a href="{{ path('get_utilisateurs') }}">Afficher tous les utilisateurs</a>
        <a href="{{ path('post_utilisateur') }}">Ajouter un utilisateur</a>
        <a href="{{ path('get_zones') }}">Afficher toutes les zones</a>
        <a href="{{ path('post_zone') }}">Ajouter une zone</a>
        
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
