{% extends "::base.html.twig" %}

{% block title %}AppBundle:Utilisateur:getUtilisateurs{% endblock %}

{% block body %}
<h1>Welcome to the Utilisateur:getUtilisateurs page</h1>

<div id="resultat">
    
        {% for utilisateur in utilisateurs %}
            
            {% if tabForm is defined %}
                {{ form_start(tabForm[loop.index-1]) }}
                    {{ form_rest(tabForm[loop.index-1]) }}
                {{ form_end(tabForm[loop.index-1]) }}
            {% endif %}
            
            {{ utilisateur.id }}
            | {{ utilisateur.pseudo }} 
            | {{ utilisateur.role }}
            <br/>
            <hr/>
        {% endfor %}
</div>
{% endblock %}
